<div class="container-fluid ">
    <div class="row">
        <div class="col-md-6">
            <app-goal-form></app-goal-form>
        </div>
        <div class="col-md-6 mt-3">
            <ol>
                <div *ngFor = "let list of toDo; let i = index" class="bg-secondary mt-1 p-4">
                
                   <li appStrikethrough> {{list.toDoList}} <span class="text-primary">due on {{list.completeDate|date|uppercase}}</span>  </li>
            
                   <button (click) = 'toggleSpecs(i)' class="btn btn-primary btn-sm">More>></button>
                   
                   <div *ngIf = "list.showSpecs">
                       <app-to-do-specs [toDoSp] = 'list' (isComplete) = 'completeList($event,i)' ></app-to-do-specs>
                   </div>
            
                </div>
            </ol>
        </div>
    </div>
</div>


